{{- if .Capabilities.APIVersions.Has "cache.tongdun.net/v1alpha1"  -}}
apiVersion: cache.tongdun.net/v1alpha1
kind: RedisStandby
metadata:
  name: redis-{{ .Values.standby.name }}
  namespace: {{ default .Values.namespace .Release.Namespace }}
spec:
  app: {{ .Values.standby.name }}
  capacity: 2048
  dc: hz
  env: {{ .Values.standby.env }}
  image: {{ .Values.registry }}/{{ .Values.standby.image }}
  monitorimage: {{ .Values.registry }}/{{ .Values.standby.monitorimage }}
  netmode: NodePort
  realname: sa
  secret: {{ .Values.standby.secret }}
  sentinelimage: {{ .Values.registry }}/{{ .Values.standby.sentinelimage }}
  storageclass: ""
  vip: 192.168.1.3
{{- end }}