apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Name }}"
  namespace: "{{ .Namespace }}"
data:
  redis.conf: |
    protected-mode no
    port 6379
    tcp-backlog 511
    timeout 0
    tcp-keepalive 300
    daemonize no
    supervised no
    pidfile "redis.pid"
    loglevel notice
    logfile "/home/admin/redis/output/redis.log"
    databases 16
    always-show-logo yes
    save 3600 10000
    stop-writes-on-bgsave-error no
    rdbcompression yes
    rdbchecksum yes
    dbfilename "dump.rdb"
    dir "/home/admin/redis/data"
    replica-serve-stale-data yes
    replica-read-only no
    repl-diskless-sync no
    repl-diskless-sync-delay 5
    repl-disable-tcp-nodelay no
    repl-backlog-size 128mb
    repl-backlog-ttl 3600
    replica-priority 100
    min-replicas-to-write 0
    min-replicas-max-lag 10
    replica-announce-ip #docker_ip#
    replica-announce-port 6379
    maxclients 10000
    maxmemory-samples 5
    replica-ignore-maxmemory yes
    lazyfree-lazy-eviction no
    lazyfree-lazy-expire no
    lazyfree-lazy-server-del no
    replica-lazy-flush no
    appendonly no
    appendfilename "appendonly.aof"
    appendfsync everysec
    no-appendfsync-on-rewrite no
    auto-aof-rewrite-percentage 100
    auto-aof-rewrite-min-size 64mb
    aof-load-truncated yes
    aof-use-rdb-preamble yes
    lua-time-limit 5000
    slowlog-log-slower-than 10000
    slowlog-max-len 128
    latency-monitor-threshold 0
    notify-keyspace-events ""
    list-max-ziplist-size -2
    list-compress-depth 0
    set-max-intset-entries 512
    zset-max-ziplist-entries 128
    zset-max-ziplist-value 64
    hll-sparse-max-bytes 3000
    stream-node-max-bytes 4096
    stream-node-max-entries 100
    activerehashing yes
    client-output-buffer-limit normal 0 0 0
    client-output-buffer-limit replica 2048mb 2048mb 60
    client-output-buffer-limit pubsub 32mb 8mb 60
    client-query-buffer-limit 1gb
    proto-max-bulk-len 512mb
    hz 10
    dynamic-hz yes
    aof-rewrite-incremental-fsync yes
    rdb-save-incremental-fsync yes
    maxclients 10000
    maxmemory {{ .Spec.Capacity }}mb
    maxmemory-policy allkeys-lru
    requirepass "{{ .Spec.Secret }}"
    masterauth "{{ .Spec.Secret }}"
  secret: |
    {{ .Spec.Secret }}

