apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  podManagementPolicy: OrderedReady
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: predixy
      name: {{ .Name }}
  serviceName: {{ .Name }}
  template:
    metadata:
      labels:
        app: predixy
        name: {{ .Name }}
    spec:
      containers:
      - args:
        - /etc/predixy/predixy.conf
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.podIP
        image: {{ .Image }}
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          periodSeconds: 1
          successThreshold: 1
          tcpSocket:
            port: 6379
          timeoutSeconds: 1
        name: predixy
        ports:
        - containerPort: 6379
          name: predixy-port
          protocol: TCP
        resources:
          limits:
            memory: 32Gi
          requests:
            memory: 4Gi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/predixy
          name: config
      dnsPolicy: ClusterFirst
      imagePullSecrets:
        - name: harbor-secret
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: {{ .Name }}
        name: config
  updateStrategy:
    type: RollingUpdate
