apiVersion: v1
kind: Service
metadata:
  labels:
    APPNAME: sentinel
    CLUSTER: sentinel-{{ .Spec.App }}
    DC: "{{ .Spec.DC }}"
    ENV: "{{ .Spec.ENV }}"
    RESOURCE_ID: sentinel-{{ .Spec.App }}
  name: sentinel-{{ .Spec.App }}
  namespace: redis
spec:
  ports:
  - name: sentinel-service-port
    port: 26379
    protocol: TCP
    targetPort: 26379
  selector:
    CLUSTER: sentinel-{{ .Spec.App }}
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}