apiVersion: v1
kind: Service
metadata:
  name: "{{ .Name }}"
  namespace: "{{ .Namespace }}"
  annotations:
    service.alpha.tongdun.net/singleton-selector: app=mysqlproxy,name={{.Name}}
    {{ if .Spec.Suspended -}}
    service.alpha.tongdun.net/status: disabled
    {{- end }}
spec:
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
