apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    APPNAME: redis
    CLUSTER: redis-{{ .Spec.App }}
    DC: "{{ .Spec.DC }}"
    ENV: "{{ .Spec.ENV }}"
    RESOURCE_ID: {{ .Name }}
    APP: "{{ .Spec.App }}"
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      RESOURCE_ID: {{ .Name }}
  serviceName: {{ .Name }}
  template:
    metadata:
      labels:
        APPNAME: redis
        CLUSTER: redis-{{ .Spec.App }}
        DC: "{{ .Spec.DC }}"
        ENV: "{{ .Spec.ENV }}"
        RESOURCE_ID: {{ .Name }}
        APP: "{{ .Spec.App }}"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9121"
    spec:
      {{ if eq .Spec.ENV "production" -}}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                APP: "{{ .Spec.App }}"
            topologyKey: kubernetes.io/hostname
      {{else if eq .Spec.ENV "staging"  -}}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  APP: "{{ .Spec.App }}"
              topologyKey: kubernetes.io/hostname
            weight: 100
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                RESOURCE_ID: {{ .Name }}
            topologyKey: kubernetes.io/hostname
      {{else if eq .Spec.ENV "demo" -}}
      {{- end}}
      containers:
      - env:
        - name: REDIS_PASSWORD
          value: {{ .Spec.Secret }}
        - name: NAMESPACE
          value: {{ .Namespace }}
        image: "{{ .Spec.MonitorImage }}"
        imagePullPolicy: Always
        lifecycle:
          preStop:
            exec:
              command:
                - /bin/bash
                - -c
                - ps -ef|grep run.sh|awk '{print $2}'|xargs kill -9
        name: {{ .Name }}-prometheus-sidecar
        resources:
          limits:
            cpu: 100m
            memory: 200Mi
          ports:
            - containerPort: 9121
              name: sidecar-port
              protocol: TCP
      - env:
        - name: APP_CLUSTER
          value: {{ .Spec.App }}
        - name: REMOTE_BACKUPSERVER
          value: 192.168.6.188
        image: "{{ .Spec.Image }}"
        imagePullPolicy: IfNotPresent
        livenessProbe:
           exec:
             command:
              - python
              - /usr/local/bin/check_ok.py
           failureThreshold: 3
           periodSeconds: 5
           successThreshold: 1
           timeoutSeconds: 10
        name: {{ .Name }}
        ports:
        - containerPort: 6379
          name: redis-port
          protocol: TCP
        - containerPort: 16379
          name: redis-bus-port
          protocol: TCP
        {{ if eq .Spec.ENV "production" -}}
        resources:
          limits:
            cpu: "2"
          requests:
            cpu: "2"
        {{- end }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /home/admin/redis/data
          name: redis-data
        - name: config
          mountPath: /home/admin/redis/.rediscfg
      dnsPolicy: ClusterFirst
      imagePullSecrets:
      - name: harbor-secret
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: config
        configMap:
          name: redis-{{ .Spec.App }}
      {{ if .Spec.StorageClass -}}
      {{ else -}}
      - emptyDir: {}
        name: redis-data
      {{- end }}
  {{ if .Spec.StorageClass -}}
  volumeClaimTemplates:
  - metadata:
      name: redis-data
      namespace: {{ .Namespace }}
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
            storage: 64Gi
      storageClassName: {{ .Spec.StorageClass }}
      volumeMode: Filesystem
  {{- end }}
  updateStrategy:
    type: OnDelete